body {
  padding: 0.1em;
  margin: 0;
  color: black;
  font-family: "Open Sans Condensed", sans-serif;
}

.homegrid {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-auto-rows: minmax(25em, auto);
}

.titlegrid {
  grid-row: 1/1;
  background-color: white;
  text-align: center;
}

.imagegrid {
  grid-row: 2/2;
  background-color: white;
  text-align: center;
}

.bodygrid {
  grid-row: 3/3;
  background-color: white;
  text-align: center;
}

.famousquote {
  font-style: italic;
}

.titleimage {
  width: 100%;
  height: 350px;
}
